<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="/resources/Styles/main.css"/>
	<link rel="stylesheet" type="text/css" href="/resources/Styles/general.css"/>
	<frameset rows="93,*" framespacing="0" border="0">
    <frame src="/views/top.html" id="header-frame" name="_top1" frameborder="no" scrolling="no">
    <frameset cols="180,*" framespacing="0" border="0" id="frame-body">
        <frame src="/views/left.html" id="menu-frame" name="_left" frameborder="no">
        <frame src="/views/center.html" id="main-frame" name="_center" frameborder="no">
    </frameset>
</frameset>
</html>
